body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-control {
  margin: 10px 0;
}

a {
  display: block;
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

a:hover {
  color: tomato;
}

.container {
  width: 600px;
  margin: 10px auto;
  text-align: left;
}

ul {
  padding: 0 10px;
}

ul > li {
  list-style: none;
}

.title {
  color: tomato;
}
