@import 'globals';
@include react-md-everything;

body {
  margin: 0;
  padding: 0;
  background: #f4f7f6;
}

.form-control {
  margin: 10px 0;
}

a {
  display: block;
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

a:hover {
  color: tomato;
}

.container {
  width: 600px;
  margin: 10px auto;
  text-align: left;
}

ul {
  padding: 0 10px;
}

ul > li {
  list-style: none;
}

.title {
  color: tomato;
}


/*
bg: #FF3362
text: #000D23

#home .item_scroll:last-of-type .text h4:after {
    background: #000D23;
}
#home .item_scroll .text h4:after {
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 0;
    background: #FF3362;
    height: 2px;
    width: 16px;
    margin: auto;
}
 */
