@import 'globals';
@include react-md-everything;

body {
  margin: 0;
  padding: 0;
}

.form-control {
  margin: 10px 0;
}

a {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:hover {
  color: tomato;
}

ul {
  padding: 0 10px;
}

ul > li {
  list-style: none;
}

.title {
  color: tomato;
}
